@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

html {
    scroll-behavior: smooth;
}

.flip-card {
    position: relative;
    width: 100%;
    aspect-ratio: 85.6 / 53.98;

    perspective: 1200px;
    -webkit-perspective: 1200px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transition: transform 0.65s cubic-bezier(0.4, 0.2, 0.2, 1);

    will-change: transform;

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    inset: 0;

    overflow: hidden;
    border-radius: 32px;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    will-change: transform;

    transform-origin: center center;

    -webkit-font-smoothing: antialiased;
}

/* FRONT */

.flip-card-front {
    z-index: 2;

    transform: rotateY(0deg) translateZ(1px);
}

/* BACK */

.flip-card-back {
    z-index: 1;

    transform: rotateY(180deg) translateZ(1px);
}

.membership-card {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    border-radius: 32px;
    overflow: hidden;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(20px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animate-popup {
    animation: popup 0.35s ease-out;
}
